<link rel="stylesheet" href="/public/css/dashboard.css" />
<link rel="stylesheet" href="/public/css/create-task.css" />

<div id="dashboardBackground" class="back">
    <div id='dashboardHeader'>
        <img id="headerLogo" src="public/img/header_logo.png" class="marginLeft12 marginRight12 marginTop12 marginBottom12">
        <div class="dashboardNav_V_Divider marginLeft12 marginRight12"></div>

        <a href="/dashboard" class='headerLink marginLeft12'>Dashboard</a>
        <div class="dashboardNav_H_Divider marginLeft12 marginRight12"></div>

        <a href="/tasks" class='headerLink'>Create Task</a>
        <div class="dashboardNav_H_Divider marginLeft12 marginRight12"></div>

        <a href="/archive" class='headerLink'>Archive</a>
        <div class="dashboardNav_H_Divider marginLeft12 marginRight12"></div>

        <a href="/users/profile" class='headerLink'>Profile</a>
    </div>

    <div id="errorDiv" {{#unless error}} hidden{{/unless}}> {{#if error}} <p>{{error}}</p>
        {{/if}}
    </div>


    <main>
        <div class="create-task">
            <h1>Task Successfully Created!</h1>

            {{#if task}}
            <h2>Title: {{task.title}}</h2>
            <h3>Creator: {{task.creatorName}}</h3>
            <p>
                <span class="task-item">Description:</span> {{task.description}}<br><br>
                <span class="task-item">Due date:</span> {{task.dueDate}}<br><br>
                <span class="task-item">Reminder date:</span> {{task.reminderDate}}<br><br>
                <span class="task-item">Status:</span> {{task.status}}<br><br>
                <span class="task-item">Assignee:</span> {{task.assignee}}<br><br>
                <span class="task-item">Tags:</span> {{task.tags}}
            </p>

            <button id="comment-task-btn">Add Comments</button> &nbsp;&nbsp;
            <button id="edit-task-btn">Edit Task</button> &nbsp;&nbsp;
            <button id="view-dashboard-btn">Archive Task</button>
            {{/if}}
        </div>
    </main>