<h1>{{user.firstName}} {{user.lastName}}</h1>
<main>
    <dl>
        <dt>First Name</dt>
        <dd>{{user.firstName}}</dd>
        <dt>Last Name</dt>
        <dd>{{user.lastName}}</dd>
        <dt>Email Address</dt>
        <dd>{{user.email}}</dd>
        <dt>Mobile Phone Number</dt>
        <dd>{{user.phone.mobile}}</dd>
        <dt>Home Phone Number</dt>
        <dd>{{user.phone.home}}</dd>
        <dt>Work Phone Number</dt>
        <dd>{{user.phone.work}}</dd>
    </dl>
    <a href="/users/logout">Logout</a>
</main>